@media 
    (min-device-width: 901px){
        .header {
            background-color: $tea-green;
            height: max-content;
            display: flex;
            width: 100%;
            box-shadow: 3px 3px 3px $russian-green;
        }
        
        .header > h1 {
            font-family: $header-font;
            font-size: 60px;
            color: $russian-green;
            margin: .5%;
            text-shadow: 1px 1px 2px $tea-rose;
            margin-left: 2%;
        }

        .header > .avatar {
            flex-grow: 1;
        }

        .header > .menu{
            margin: .5%;
        }

    }


@media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 900px) {
       
        .header {
            background-color: $tea-green;
            height: max-content;
            display: flex;
            width: 100%;
            box-shadow: 3px 3px 3px $russian-green;

        }
        
        .header > h1 {
            font-family: $header-font;
            font-size: 46px;
            color: $russian-green;
            margin: 1%;
            text-shadow: 1px 1px 2px $tea-rose;
        }

        .header > .avatar {
            flex-grow: 1;
        }

    }


