.login-form{
    background-color: $moccasin;
    font-family: $user-font;
    max-width:400px;
    margin: 30px auto;
	border-radius:2px;
    padding:20px;
    align-content: center;
}

.login-form ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.login-form li{
	display: block;
	padding: 9px;
	border:1px solid $russian-green;
	margin-bottom: 30px;
	border-radius: 3px;
}
.login-form .submit-button{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.login-form li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: $moccasin;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: $russian-green;
	font-size: 15px;
	overflow: hidden;
	font-family: $user-font;
}
.login-form input[type="text"],
.login-form input[type="password"],
.login-form textarea,
.login-form select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.login-form textarea{
	resize:none;
}
.login-form input[type="submit"]{
	background: $russian-green;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid $tea-green;
	border-radius: 3px;
	color: $moccasin;
}
.login-form input[type="submit"]:hover{
	background: $tea-rose;
	color:$tea-green;
}

.login-form > h2 {
    font-size: 30px;
    color: $russian-green;
    margin-bottom: 20px;
    margin-left: 40%;
}

.login-form li:last-child{
	border:none;
	margin-bottom: 0px;
    text-align: center;
}

.sign-up-link{
    text-decoration: none;
    color: $tea-rose;
}

