@import "./reset";
@import './colors';
@import './fonts';
@import './start-page';
@import './header';
@import './sign-up-form';
@import './login-form';
@import './home-page';
@import './action-container';
@import './user-container';

body, .App, .start-page, .main {
    height: 100vh;
}

.App {
   background-color: $tea-green;
}

.main {
    display: flex;
    justify-content: center;
}