/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Girassol|Manuale|Zilla+Slab&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.start-page {
  background-color: #F9EBE0; }

.buttons > button {
  font-family: "Zilla Slab", serif;
  font-size: 20px;
  font-weight: bolder;
  color: #BEF9C2 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #FF8A78;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 10%; }

.buttons > button:hover {
  background: #73956F;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s; }

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20%;
  background-color: #F9EBE0; }

.header {
  background-color: #BEF9C2;
  height: max-content;
  display: flex;
  justify-content: space-between;
  width: 100%; }

.header > h1 {
  font-family: "Girassol", cursive;
  font-size: 60px;
  color: #73956F;
  margin: 1%; }

.sign-up-form {
  background-color: #F9EBE0;
  font-family: "Manuale", serif;
  max-width: 400px;
  margin: 30px auto;
  border-radius: 2px;
  padding: 20px;
  align-content: center; }

.sign-up-form ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.sign-up-form li {
  display: block;
  padding: 9px;
  border: 1px solid #73956F;
  margin-bottom: 30px;
  border-radius: 3px; }

.sign-up-form li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center; }

.sign-up-form li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #F9EBE0;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #73956F;
  font-size: 15px;
  overflow: hidden;
  font-family: "Manuale", serif; }

.sign-up-form input[type="text"],
.sign-up-form input[type="password"],
.sign-up-form input[type="number"],
.sign-up-form textarea,
.sign-up-form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif; }

.sign-up-form textarea {
  resize: none; }

.sign-up-form input[type="submit"] {
  background: #73956F;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #BEF9C2;
  border-radius: 3px;
  color: #F9EBE0; }

.form-style-7 input[type="submit"]:hover {
  background: #6B9FFF;
  color: #fff; }

.avatar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.sign-up-form > h1 {
  font-size: 30px;
  color: #73956F;
  margin-bottom: 20px;
  margin-left: 35%; }

body, .App, .start-page {
  height: 100vh; }

.App {
  background-color: #BEF9C2; }

/*# sourceMappingURL=App.css.map */
