/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Girassol|Manuale|Zilla+Slab&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .start-page {
    background-color: #F9EBE0;
    width: 100%; }

  .buttons > button {
    font-family: "Zilla Slab", serif;
    font-size: 20px;
    font-weight: bolder;
    color: #BEF9C2 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF8A78;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin: 10%;
    box-shadow: 5px 5px 5px #73956F; }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20%;
    background-color: #F9EBE0; } }
@media (min-device-width: 901px) {
  .start-page {
    background-color: #F9EBE0;
    width: 100%; }

  .buttons > button {
    font-family: "Zilla Slab", serif;
    font-size: 20px;
    font-weight: bolder;
    color: #BEF9C2 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF8A78;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin: 5%;
    box-shadow: 5px 5px 5px #73956F;
    cursor: pointer; }

  .buttons > button:hover {
    background: #73956F;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 1px 1px 1px #73956F;
    transition: all 0.4s ease 0s; }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10%;
    background-color: #F9EBE0; } }
@media (min-device-width: 901px) {
  .header {
    background-color: #BEF9C2;
    height: max-content;
    display: flex;
    width: 100%;
    box-shadow: 3px 3px 3px #73956F; }

  .header > h1 {
    font-family: "Girassol", cursive;
    font-size: 60px;
    color: #73956F;
    margin: .5%;
    text-shadow: 1px 1px 2px #FF8A78;
    margin-left: 2%; }

  .header > .avatar {
    flex-grow: 1; }

  .header > .menu {
    margin: .5%; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .header {
    background-color: #BEF9C2;
    height: max-content;
    display: flex;
    width: 100%;
    box-shadow: 3px 3px 3px #73956F; }

  .header > h1 {
    font-family: "Girassol", cursive;
    font-size: 46px;
    color: #73956F;
    margin: 1%;
    text-shadow: 1px 1px 2px #FF8A78; }

  .header > .avatar {
    flex-grow: 1; } }
.sign-up-form {
  background-color: #F9EBE0;
  font-family: "Manuale", serif;
  max-width: 400px;
  border-radius: 2px;
  padding: 20px;
  align-content: center;
  box-shadow: 5px 5px 5px #73956F;
  height: fit-content;
  margin-top: 2%; }

@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .sign-up-form {
    background-color: #F9EBE0;
    font-family: "Manuale", serif;
    max-width: 400px;
    border-radius: 2px;
    padding: 20px;
    align-content: center;
    box-shadow: 5px 5px 5px #73956F;
    height: fit-content; } }
.sign-up-form ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.sign-up-form li {
  display: block;
  padding: 9px;
  border: 1px solid #73956F;
  margin-bottom: 30px;
  border-radius: 3px; }

.submit-button {
  border: none;
  margin-bottom: 0px;
  text-align: center;
  margin-bottom: 5%; }

.sign-up-form li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #F9EBE0;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #73956F;
  font-size: 14px;
  overflow: hidden;
  font-family: "Manuale", serif; }

.sign-up-form input[type="text"],
.sign-up-form input[type="password"],
.sign-up-form input[type="number"],
.sign-up-form textarea,
.sign-up-form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif; }

.sign-up-form textarea {
  resize: none; }

.sign-up-form input[type="submit"] {
  background: #73956F;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #BEF9C2;
  border-radius: 3px;
  color: #F9EBE0;
  cursor: pointer;
  outline: none; }

.form-style-7 input[type="submit"]:hover {
  background: #FF8A78;
  color: #BEF9C2; }

.avatar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.sign-up-form > h1 {
  font-size: 30px;
  color: #73956F;
  margin-bottom: 20px;
  margin-left: 35%; }

.log-in-link {
  text-decoration: none;
  color: #FF8A78;
  text-align: center; }

.login-form {
  background-color: #F9EBE0;
  font-family: "Manuale", serif;
  max-width: 400px;
  border-radius: 2px;
  padding: 20px;
  align-content: center;
  height: fit-content;
  box-shadow: 5px 5px 5px #73956F;
  margin-top: 2%; }

@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .login-form {
    background-color: #F9EBE0;
    font-family: "Manuale", serif;
    max-width: 400px;
    border-radius: 2px;
    padding: 20px;
    align-content: center;
    width: 80%;
    height: fit-content;
    box-shadow: 5px 5px 5px #73956F; } }
.login-form ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.login-form li {
  display: block;
  padding: 9px;
  border: 1px solid #73956F;
  margin-bottom: 30px;
  border-radius: 3px; }

.login-form .submit-button {
  border: none;
  margin-bottom: 0px;
  text-align: center;
  outline: none; }

.login-form li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #F9EBE0;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #73956F;
  font-size: 14px;
  overflow: hidden;
  font-family: "Manuale", serif; }

.login-form input[type="text"],
.login-form input[type="password"],
.login-form textarea,
.login-form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif; }

.login-form textarea {
  resize: none; }

.login-form input[type="submit"] {
  background: #73956F;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #BEF9C2;
  border-radius: 3px;
  color: #F9EBE0;
  cursor: pointer; }

.login-form input[type="submit"]:hover {
  background: #FF8A78;
  color: #BEF9C2; }

.login-form > h2 {
  font-size: 30px;
  color: #73956F;
  margin-bottom: 20px;
  margin-left: 40%; }

.login-form li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center; }

.sign-up-link {
  text-decoration: none;
  color: #FF8A78; }

.home-page {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #BEF9C2; }

.home-page > h3 {
  font-family: "Girassol", cursive;
  color: #73956F;
  text-shadow: 1px 1px 2px #F9EBE0;
  font-size: 30px;
  margin: 2%; }

.game-how-to {
  background-color: #73956F;
  width: fit-content;
  padding: 1%;
  display: flex;
  align-self: center;
  border-radius: 10px;
  margin-bottom: 2%; }

.how-to-card > h2 {
  font-family: "Girassol", cursive;
  color: #BEF9C2;
  text-shadow: 1px 1px 2px #393E41;
  font-size: 25px;
  padding: 1%; }

.how-to-card > p {
  font-family: "Manuale", serif;
  color: #F9EBE0;
  margin: 1%;
  font-size: 20px; }

.how-to-card > button {
  background-color: unset;
  outline: none;
  border: none;
  margin-top: 1%; }

@media (min-device-width: 901px) {
  .user-action-container {
    display: flex;
    justify-content: space-evenly; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .home-page {
    width: 100%;
    text-align: center; }

  .home-page > h3 {
    font-family: "Girassol", cursive;
    color: #73956F;
    text-shadow: 2px 2px 4px #F9EBE0;
    font-size: 20px;
    margin: 2%; }

  .game-how-to {
    margin: 4%;
    padding: 1%; }

  .how-to-card > p {
    margin: 2%; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .action-container {
    background-color: #BEF9C2; }

  .action-container > button {
    font-family: "Zilla Slab", serif;
    font-size: 17px;
    font-weight: bolder;
    color: #F9EBE0 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF8A78;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin: 10%;
    box-shadow: 5px 5px 5px #73956F;
    text-shadow: 1px 1px 2px #73956F; }

  .action-card {
    background-color: #393E41;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    list-style-type: none;
    border-radius: 10px;
    font-family: "Manuale", serif;
    font-size: 20px;
    padding: 2%;
    color: #73956F; }

  .action-card > li > p {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 16px; }

  .action-card > button {
    color: #939597; }

  .description {
    padding-bottom: 4%; }

  .reward-description {
    font-size: 20px; }

  .inner-reward-action {
    color: #F9EBE0; } }
@media (min-device-width: 901px) {
  .action-container {
    background-color: #BEF9C2;
    display: flex; }

  .action-container > button {
    font-family: "Zilla Slab", serif;
    font-size: 20px;
    font-weight: bolder;
    color: #F9EBE0 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF8A78;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
    box-shadow: 5px 5px 5px #73956F;
    text-shadow: 1px 1px 2px #73956F;
    cursor: pointer;
    height: 70px;
    width: 400px; }

  .action-container > button:hover {
    background: #73956F;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 1px 1px 1px #73956F;
    transition: all 0.4s ease 0s; }

  .action-card {
    background-color: #393E41;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    list-style-type: none;
    border-radius: 10px;
    font-family: "Manuale", serif;
    font-size: 28px;
    padding: 2%;
    color: #73956F; }

  .action-card > li {
    cursor: pointer; }

  .action-card > li > p {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 16px; }

  .action-card > button {
    background-color: unset;
    border: unset;
    color: #939597;
    cursor: pointer;
    outline-style: none; }

  .description {
    padding-bottom: 1%;
    font-size: 30px;
    padding-left: 30%;
    padding-right: 30%; }

  .partial-action-container {
    flex-basis: 80vh; }

  .partial-action-container > button {
    background-color: unset;
    border: unset;
    margin-bottom: 2%; }

  #action-link {
    padding-left: 30%; }

  .reward-description {
    font-size: 30px; }

  .inner-reward-action {
    color: #F9EBE0; } }
@media (min-device-width: 901px) {
  .progress-bar {
    height: 20px;
    width: 350px;
    border-radius: 50px;
    border: 1px solid #333;
    background-color: #393E41; }

  .filler {
    background: #FF8A78;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in; }

  .user-container {
    font-family: "Manuale", serif;
    display: flex;
    flex-direction: column;
    background-color: #73956F;
    width: fit-content;
    border-radius: 10px;
    color: #F9EBE0;
    font-size: 20px;
    text-align: left;
    align-self: flex-start;
    padding: 2%; }

  .user-container li {
    display: block;
    padding: 9px;
    border: 1px solid #F9EBE0;
    margin-bottom: 30px;
    border-radius: 3px;
    list-style: none; }

  .user-container li > label {
    display: block;
    float: left;
    margin-top: -19px;
    background: #73956F;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #F9EBE0;
    font-size: 14px;
    overflow: hidden;
    font-family: "Manuale", serif; }

  .progress-bar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%; }

  .progress-bar {
    align-self: center;
    margin: 1%; }

  .completed-actions-button {
    font-family: "Zilla Slab", serif;
    font-size: 15px;
    font-weight: bolder;
    color: #F9EBE0 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF8A78;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    width: 250px;
    box-shadow: 5px 5px 5px #393E41;
    text-shadow: 1px 1px 2px #73956F;
    align-self: center;
    margin-bottom: 5%;
    outline-style: none; }

  .completed-action {
    color: #BEF9C2; }

  .close-user-container-button {
    background-color: unset;
    border-style: unset;
    margin-bottom: 5%;
    float: right;
    width: 10px; }

  .delete-user-button {
    font-family: "Zilla Slab", serif;
    font-size: 15px;
    font-weight: bolder;
    color: #F9EBE0 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF8A78;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    width: 250px;
    box-shadow: 5px 5px 5px #393E41;
    text-shadow: 1px 1px 2px #73956F;
    align-self: center;
    margin-bottom: 5%;
    outline-style: none; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .progress-bar {
    height: 15px;
    width: 300px;
    border-radius: 50px;
    border: 1px solid #333;
    background-color: #393E41; }

  .filler {
    background: #FF8A78;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in; }

  .user-container {
    font-family: "Manuale", serif;
    display: flex;
    flex-direction: column;
    background-color: #73956F;
    width: fit-content;
    border-radius: 10px;
    color: #F9EBE0;
    font-size: 15px;
    text-align: left;
    align-self: center;
    padding: 3%;
    margin-bottom: 5%;
    margin-left: 4%; }

  .user-container li {
    display: block;
    padding: 9px;
    border: 1px solid #F9EBE0;
    margin-bottom: 30px;
    border-radius: 3px;
    list-style: none; }

  .user-container li > label {
    display: block;
    float: left;
    margin-top: -19px;
    background: #73956F;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #F9EBE0;
    font-size: 14px;
    overflow: hidden;
    font-family: "Manuale", serif; }

  .progress-bar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%; }

  .progress-bar {
    align-self: center;
    margin: 1%; }

  .completed-actions-button {
    font-family: "Zilla Slab", serif;
    font-size: 15px;
    font-weight: bolder;
    color: #F9EBE0 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF8A78;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    width: 250px;
    box-shadow: 5px 5px 5px #393E41;
    text-shadow: 1px 1px 2px #73956F;
    align-self: center;
    margin-bottom: 5%;
    outline-style: none; }

  .completed-action {
    color: #BEF9C2; }

  .completed-actions-container {
    margin-top: 2%; }

  .close-user-container-button {
    background-color: unset;
    border-style: unset;
    margin-bottom: 5%;
    float: right;
    width: 10px; }

  .delete-user-button {
    font-family: "Zilla Slab", serif;
    font-size: 15px;
    font-weight: bolder;
    color: #F9EBE0 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF8A78;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    width: 250px;
    box-shadow: 5px 5px 5px #393E41;
    text-shadow: 1px 1px 2px #73956F;
    align-self: center;
    margin-bottom: 5%;
    outline-style: none; } }
body, .App, .start-page, .main {
  height: 100vh; }

.App {
  background-color: #BEF9C2; }

.main {
  display: flex;
  justify-content: center; }

/*# sourceMappingURL=App.css.map */
